.vs/RepositoriosGitHub/FileContentIndex/*
*.suo
.DS_Store
Thumbs.db
.vscode/
.idea/
*.class
*.exe
*.dll
*.log

RepositorioGitHub\App\bin\*
RepositorioGitHub\App\obj\Debug\*
RepositorioGitHub\Business\bin\Debug\*
RepositorioGitHub\Business\obj\Debug\*
RepositorioGitHub\Dominio\bin\Debug\*
RepositorioGitHub\Dominio\obj\Debug\*
RepositorioGitHub\Infra\bin\Debug\*
RepositorioGitHub\Infra\obj\Debug\*