@model RepositorioGitHub.Dominio.ActionResult<RepositorioGitHub.Dominio.RepositoryViewModel>
@{
    ViewBag.Title = "GetRepositorieSearch";
}

<h2>Veja outros Repositórios</h2>
<br />
<br />

    <div class="jumbotron">
        <form id="search" method="post">
            <div class="form-group">
                <label>Nome do Repositório:</label>
                <input type="text" class="form-control" id="repoSearch" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar Repositórios</button>
        </form>
    </div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('search').addEventListener('submit', function (e) {
        e.preventDefault();
        var repoSearch = document.getElementById('repoSearch').value;

        var url = '@Url.Action("GetRepositorieSearchRepoName", "Home")' + '?repoSearch=' + encodeURIComponent(repoSearch);

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                updateTable(data);
            })
            .catch(error => console.error('Error:', error));
    });

    function updateTable(data) {
        var tableBody = document.querySelector('.table tbody');
        data.forEach(repo => {
                var row = document.createElement('tr');

                row.innerHTML = `
                    <td><a href="#" class="repo-link" data-repo="${repo.Name}">${repo.Name}</a></td>
                `;
                tableBody.appendChild(row);
         });
    }

</script>
